
{
    marg
}

.cabeçario {
    background-color: #424e61;
    color: white;
    display: flex;
    justify-content: space-around;
}

.cabeçario-imagem{
    width: 20%;
}

.cabeçario-lista-item{
    display: inline-block;
    margin: 0 16px;
}